<label>
  First Name
  <input name="firstname" type="text" [formControl]="control" [class.valid]="control.valid &&
        (control.dirty || control.touched)"
         [class.invalid]="control.invalid &&
        (control.dirty || control.touched)" />
</label>
<div class="error-container" *ngIf="(control.dirty || control.touched) && control.invalid">
  <span *ngIf="control.hasError('required')">This field is required.</span>
  <span *ngIf="control.hasError('minlength')">The minimum length for this field is {{control.errors?.minlength?.requiredLength}} characters.</span>
</div>
