<form [formGroup]="signUpForm" (ngSubmit)="signUpForm.valid && onSubmit()">
    <app-first-name-input [formControlName]="'firstName'"></app-first-name-input>
    <app-last-name-input [formControlName]="'lastName'"></app-last-name-input>
    <app-email-input [formControlName]="'email'"></app-email-input>
    <app-password-input [formControlName]="'password'"></app-password-input>
    <app-submit-button [formGroup]="signUpForm"></app-submit-button>
    <span *ngIf="formSubmitted" class="success">Signed-up successfully</span>
</form>
